<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="metal.gear.model.btScraptModel.mapper.RubbishMapper">
        <select id="rubbishUrl" resultType="String">
            select  url from   rubbish_url      
        </select>       
        <insert id="addRubbishUrl" parameterType="String">
        	insert into rubbish_url (url) values (#{url})
       </insert>
    </mapper>